body {
    background-image: url("../images/fond_ecran_badminton.jpg");
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page{
	opacity: 0.93;
	margin-top: 75px;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: lightBlue !important;
}