<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:jee="http://www.springframework.org/schema/jee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        	 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
                        	 http://www.springframework.org/schema/jee      http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">



    <http auto-config='true' use-expressions="true" >
     
        <intercept-url pattern="/resources/**"            access="permitAll" />
        <intercept-url pattern="/javax.faces.resource/**" access="permitAll" />
        <intercept-url pattern="/index.xhtml"             access="permitAll" />        
        <intercept-url pattern="/jsf/tournoi/**"          access="hasRole('ROLE_ADMINISTRATEUR')" />        
  		<intercept-url pattern="/jsf/adherent/**"         access="hasRole('ROLE_ADMINISTRATEUR')" />
  		<intercept-url pattern="/jsf/adherent/**"         access="hasRole('ROLE_SECRETAIRE')" />

  
  
  		        <form-login login-page="/index.xhtml" 
        			authentication-failure-url="/jsf/commun/erreur.xhtml?fail=true"/>

  
    </http>
    
    <authentication-manager>
        <authentication-provider>     
            <user-service>
                <user name="administrateur"  password="admin"  authorities="ROLE_ADMINISTRATEUR,ROLE_SECRETAIRE,ROLE_AUTHENTIFIE" />               
                <user name="user"  password="user"  authorities="ROLE_UTILISATEUR,ROLE_AUTHENTIFIE" />
                <user name="secretaire"  password="secretaire"  authorities="ROLE_SECRETAIRE,ROLE_AUTHENTIFIE" />
                <user name="toto"  password="toto"  authorities="ROLE_AUTHENTIFIE" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
</b:beans>


