@CHARSET "UTF-8";

body {
	background-image: url("#{resource['images:fond_ecran_badminton.jpg']}");
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#entete {
 //border : solid blue 2px; 
 padding : 10px; 
 text-align : center;
 margin-bottom: 30px;
 position: fixed;
 width: 98%; 
 z-index: 1100;
}

.imgAccueil{
	height:185px;
	margin-right:150px;	
}

a.ui-menuitem-link {
	padding : 4px 6px !important;
	border-radius : 2px !important;
	text-align: left;
    white-space: normal !important;
}

.imgActu{
	height: 400px;
    margin-top: 20px;
}

#piedDePage {
 //border : solid blue 2px; 
 text-align : center;
 position: fixed;
 bottom: 0px;
 width: 99%;
 
}

.hideFilter{
	display: none !important;	
}

#error_container {
	left:20px;
}
#error_container > div {
	background-color: red;
}
.ui-growl {
    z-index: 1200 !important;
}

.panelTableauClass > div > span{
		margin: 0.1em 0px 0.2em 0 !important;
}

.panelTableauClass > div > span > table > tbody > tr > td{
		border: 0px;
}

.btn-info {
    background-color: #5BC0DE !important;
    border-color: #46B8DA !important;
    color: #FFFFFF !important;
    background-image: none !important;
}

.btn-info:HOVER {
    background-color: #39B3D7 !important;
    border-color: #269ABC !important;
    color: #FFFFFF !important;
    background-image: none !important;
}

.btn-validation{
    background-color: #428BCA !important;
    border-color: #357EBD !important;
    color: #FFFFFF !important;
    background-image: none !important;
}

.btn-validation:HOVER {
    background-color: #3276B1 !important;
    border-color: #285E8E !important;
    color: #FFFFFF !important;
    background-image: none !important;
}
.btn-login{
    background-color: #5CB85C !important;
    border-color: #4CAE4C !important;
    color: #FFFFFF !important;
    background-image: none !important;
}

.btn-login:HOVER {
    background-color: #47A447 !important;
    border-color: #398439 !important;
    color: #FFFFFF !important;
    background-image: none !important;
}
.btn-logout{
    background-color: #D9534F !important;
    border-color: #D43F3A !important;
    color: #FFFFFF !important;
    background-image: none !important;
}

.btn-logout:HOVER {
    background-color: #D2322D !important;
    border-color: #AC2925 !important;
    color: #FFFFFF !important;
    background-image: none !important;
}
.infos{
	color: blue;
}

.manySelect{
	height: 105px;
}

.separator{
	width: 100px;
}

.borderLess{
	width: 100%;
}
.borderLess > tbody > tr, .borderLess > tbody > tr > td{
	border-width: 0px;
	vertical-align: top;
}

.draggable{
	cursor: grab !important;
}
