@CHARSET "UTF-8";

BODY
{
	background-image: url("#{resource['images:fond_ecran_badminton.jpg']}");
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#entete
{
 border : solid blue 2px; 
 padding : 10px; 
 text-align : center;
}


#piedDePage
{
 border : solid blue 2px; 
 text-align : center;
 position: absolute;
 bottom: 0px;
 width: 99%;
 
}